<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Phan_mem_quan_ly_ban_thuoc.Properties.Settings.THUOCConnectionString"
            connectionString="Data Source=LAPTOP-GITFMCB6\SQLEXPRESS;Initial Catalog=THUOC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>