
USE [THUOC]
GO
/****** Object:  Table [dbo].[tblCTHoadonban]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTHoadonban](
	[MABAN] [nvarchar](50) NOT NULL,
	[MATHUOC] [nvarchar](20) NOT NULL,
	[LOSX] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[DONGIA] [float] NOT NULL,
	[SLUONG] [float] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
 CONSTRAINT [PK_CT_Hoadonban] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC,
	[MATHUOC] ASC
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCTPhieunhap]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTPhieunhap](
	[MANHAP] [nvarchar](50) NOT NULL,
	[MATHUOC] [nvarchar](20) NOT NULL,
	[LOSX] [nvarchar](50) NOT NULL,
	[HSD] [datetime] NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[DONGIA] [float] NOT NULL,
	[SLUONG] [float] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
 CONSTRAINT [PK_CT_Phieunhap] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoadonban]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoadonban](
	[MABAN] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
	[MAKHACH] [nvarchar](20) NOT NULL,
	[MANHANVIEN] [nvarchar](20) NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhachhang]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachhang](
	[MAKHACH] [nvarchar](20) NOT NULL,
	[TENKHACH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhacungcap]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhacungcap](
	[MANCC] [nvarchar](20) NOT NULL,
	[TENNCC] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[MST] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanvien]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanvien](
	[MANHANVIEN] [nvarchar](20) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[TAIKHOAN] [nvarchar](20) NOT NULL,
	[MATKHAU] [nvarchar](20) NOT NULL,
	[QUYEN] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhomthuoc]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhomthuoc](
	[MANHOM] [nvarchar](10) NOT NULL,
	[TENNHOM] [nvarchar](50) NOT NULL,
	[GHICHU] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieunhap]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieunhap](
	[MANHAP] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
	[MANCC] [nvarchar](20) NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThuoc]    Script Date: 25/11/2021 6:58:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThuoc](
	[MATHUOC] [nvarchar](20) NOT NULL,
	[MANHOM] [nvarchar](10) NOT NULL,
	[TENTHUOC] [nvarchar](100) NOT NULL,
	[HOATCHATCHINH] [nvarchar](100) NOT NULL,
	[HAMLUONG] [nvarchar](80) NULL,
	[HANGSX] [nvarchar](50) NOT NULL,
	[NUOCSX] [nvarchar](50) NULL,
	[QUYCACHDONGGOI] [nvarchar](80) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblCTHoadonban] ([MABAN], [MATHUOC], [LOSX], [DVT], [DONGIA], [SLUONG], [THANHTIEN]) VALUES (N'HD24112021112601', N'DQG00000002', N'1', N'mCi', 10000, 5, 50000)
INSERT [dbo].[tblCTHoadonban] ([MABAN], [MATHUOC], [LOSX], [DVT], [DONGIA], [SLUONG], [THANHTIEN]) VALUES (N'HD24112021112601', N'DQG00000009', N'1', N'Lọ', 5000, 2, 10000)
INSERT [dbo].[tblCTHoadonban] ([MABAN], [MATHUOC], [LOSX], [DVT], [DONGIA], [SLUONG], [THANHTIEN]) VALUES (N'HD24112021112601', N'DQG00000019', N'1', N'Viên', 2000, 5, 10000)
GO
INSERT [dbo].[tblCTPhieunhap] ([MANHAP], [MATHUOC], [LOSX], [HSD], [DVT], [DONGIA], [SLUONG], [THANHTIEN]) VALUES (N'PN24112021112352', N'DQG00000002', N'1', CAST(N'2026-01-24T00:00:00.000' AS DateTime), N'mCi', 10000, 100, 1000000)
INSERT [dbo].[tblCTPhieunhap] ([MANHAP], [MATHUOC], [LOSX], [HSD], [DVT], [DONGIA], [SLUONG], [THANHTIEN]) VALUES (N'PN24112021112352', N'DQG00000009', N'1', CAST(N'2026-01-24T00:00:00.000' AS DateTime), N'Lọ', 5000, 200, 1000000)
INSERT [dbo].[tblCTPhieunhap] ([MANHAP], [MATHUOC], [LOSX], [HSD], [DVT], [DONGIA], [SLUONG], [THANHTIEN]) VALUES (N'PN24112021112352', N'DQG00000017', N'1', CAST(N'2026-01-24T00:00:00.000' AS DateTime), N'Viên', 20000, 20, 400000)
GO
INSERT [dbo].[tblHoadonban] ([MABAN], [NGAYNHAP], [MAKHACH], [MANHANVIEN], [TONGTIEN], [GHICHU]) VALUES (N'HD24112021112601', CAST(N'2021-01-25T00:00:00.000' AS DateTime), N'KH002', N'Bùi Xuân Huấn', 70000, NULL)
INSERT [dbo].[tblHoadonban] ([MABAN], [NGAYNHAP], [MAKHACH], [MANHANVIEN], [TONGTIEN], [GHICHU]) VALUES (N'HD24112021112646', CAST(N'2021-01-26T00:00:00.000' AS DateTime), N'KH002', N'Bùi Xuân Huấn', 60000, NULL)
INSERT [dbo].[tblHoadonban] ([MABAN], [NGAYNHAP], [MAKHACH], [MANHANVIEN], [TONGTIEN], [GHICHU]) VALUES (N'HD2511202164121', CAST(N'2021-11-25T00:00:00.000' AS DateTime), N'KH006', N'Bùi Xuân Huấn', 600000, NULL)
GO
INSERT [dbo].[tblKhachhang] ([MAKHACH], [TENKHACH], [DIACHI], [EMAIL], [SDT]) VALUES (N'KH001', N'Nguyễn Thị Hồng Chuyên', N'Số 386, đường Nguyễn Văn Linh', N'chuyen@gmail.com', N'(016) 8 9-59 5')
INSERT [dbo].[tblKhachhang] ([MAKHACH], [TENKHACH], [DIACHI], [EMAIL], [SDT]) VALUES (N'KH002', N'Phạm Thị Hiền', N'Số 2, ngách 266/5, Nguyễn Văn Cừ, Long Biên, HN', N'hien@gmail.com', N'(091) 5 0-08 0')
INSERT [dbo].[tblKhachhang] ([MAKHACH], [TENKHACH], [DIACHI], [EMAIL], [SDT]) VALUES (N'KH003', N'Nguyễn Thị Trang', N'Số 2, ngách 266/5, Nguyễn Văn Cừ, Long Biên, HN', N'trang@gmail.com', N'0914 753 234 ')
GO
INSERT [dbo].[tblNhacungcap] ([MANCC], [TENNCC], [SDT], [EMAIL], [MST]) VALUES (N'NCC001', N'Công Ty TNHH Lê Hào', N'(024) 371-9021', N'sales.lehaoco@gmail.com', N'a592347')
INSERT [dbo].[tblNhacungcap] ([MANCC], [TENNCC], [SDT], [EMAIL], [MST]) VALUES (N'NCC002', N'Công Ty Cổ Phần Dưỡng Dược Vĩnh Kim', N'08485505526', N'kimluan32@gmail.com', N'b946771')
INSERT [dbo].[tblNhacungcap] ([MANCC], [TENNCC], [SDT], [EMAIL], [MST]) VALUES (N'NCC003', N'Công Ty CP Nông Nghiệp Công Nghệ Cao Thăng Long', N'(058) 941-8003', N'cagaileosadu@gmail.com', N'a449584')
GO
INSERT [dbo].[tblNhanvien] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [TAIKHOAN], [MATKHAU], [QUYEN]) VALUES (N'NV001', N'Bùi Xuân Huấn', N'34 Hàng Bạc - Hoàn Kiếm - Hà Nội 1', N'(091) 353-6674', N'NV001', N'NV001', N'admin')
INSERT [dbo].[tblNhanvien] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [TAIKHOAN], [MATKHAU], [QUYEN]) VALUES (N'NV002', N'Ngô Văn Khá', N'101 Đại Cồ Việt - Hai Bà Trưng - Hà Nội', N'0992016017', N'NV002', N'NV002', N'admin')
INSERT [dbo].[tblNhanvien] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [TAIKHOAN], [MATKHAU], [QUYEN]) VALUES (N'NV003', N'Nguyễn Hữu Đa', N'Cổ Loa - Đông Anh - Hà Nội', N'0916930001', N'NV003', N'NV003', N'nhanvien')
GO
INSERT [dbo].[tblNhomthuoc] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'N001', N'Thực phẩm chức năng', N'123       ')
INSERT [dbo].[tblNhomthuoc] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'N002', N'Thuốc kháng sinh', N'          ')
INSERT [dbo].[tblNhomthuoc] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'N003', N'Thuốc trẻ em', N'          ')
GO
INSERT [dbo].[tblPhieunhap] ([MANHAP], [NGAYNHAP], [MANCC], [TONGTIEN], [GHICHU]) VALUES (N'PN24112021112352', CAST(N'2021-01-24T00:00:00.000' AS DateTime), N'NCC001', 2710000, NULL)
INSERT [dbo].[tblPhieunhap] ([MANHAP], [NGAYNHAP], [MANCC], [TONGTIEN], [GHICHU]) VALUES (N'PN24112021113301', CAST(N'2021-02-24T00:00:00.000' AS DateTime), N'NCC010', 3200000, NULL)
INSERT [dbo].[tblPhieunhap] ([MANHAP], [NGAYNHAP], [MANCC], [TONGTIEN], [GHICHU]) VALUES (N'PN24112021113759', CAST(N'2021-03-24T00:00:00.000' AS DateTime), N'NCC010', 3600000, NULL)
GO
INSERT [dbo].[tblThuoc] ([MATHUOC], [MANHOM], [TENTHUOC], [HOATCHATCHINH], [HAMLUONG], [HANGSX], [NUOCSX], [QUYCACHDONGGOI], [DVT]) VALUES (N'DQG00000002', N'N003', N'ELUMATIC III', N'Technectium (Tc99m)', N'Technectium (Tc99m)', N'Pháp', N'', N'đóng gói 20GBq/ lọ', N'mCi')
INSERT [dbo].[tblThuoc] ([MATHUOC], [MANHOM], [TENTHUOC], [HOATCHATCHINH], [HAMLUONG], [HANGSX], [NUOCSX], [QUYCACHDONGGOI], [DVT]) VALUES (N'DQG00000009', N'N002', N'MIBG - D', N'Iobenguane (I131)', N'Iobenguane (I131)', N'pháp', N'', N'lọ', N'Lọ')
INSERT [dbo].[tblThuoc] ([MATHUOC], [MANHOM], [TENTHUOC], [HOATCHATCHINH], [HAMLUONG], [HANGSX], [NUOCSX], [QUYCACHDONGGOI], [DVT]) VALUES (N'DQG00000017', N'N003', N'Bisocar 2.5', N'Bisoprolol fumarate 2,5mg', N'', N'Rusan Pharma Ltd.', N'', N'Hộp 10 vỉ x 10 viên', N'Viên')
GO
ALTER TABLE [dbo].[tblCTHoadonban]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[tblHoadonban] ([MABAN])
GO
ALTER TABLE [dbo].[tblCTHoadonban]  WITH CHECK ADD FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[tblThuoc] ([MATHUOC])
GO
ALTER TABLE [dbo].[tblCTPhieunhap]  WITH CHECK ADD FOREIGN KEY([MANHAP])
REFERENCES [dbo].[tblPhieunhap] ([MANHAP])
GO
ALTER TABLE [dbo].[tblCTPhieunhap]  WITH CHECK ADD FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[tblThuoc] ([MATHUOC])
GO
ALTER TABLE [dbo].[tblHoadonban]  WITH CHECK ADD FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[tblKhachhang] ([MAKHACH])
GO
ALTER TABLE [dbo].[tblPhieunhap]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[tblNhacungcap] ([MANCC])
GO
ALTER TABLE [dbo].[tblThuoc]  WITH CHECK ADD FOREIGN KEY([MANHOM])
REFERENCES [dbo].[tblNhomthuoc] ([MANHOM])
GO
